/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Baloo Bhaijaan', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Baloo Bhaijaan', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2.2rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.container .cta {
  background: linear-gradient(rgba(41, 40, 40, 0.45), rgba(39, 38, 38, 0.45)), url('../img/woman-sleeping.jpg');
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-family: 'Roboto';
}
@media (max-width: 500px) {
  .container .cta {
    padding: 30px;
    text-align: center;
  }
}
.container .cta h2 {
  margin-top: 10%;
  font-family: inherit;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .container .cta h2 {
    margin-top: 20%;
    font-size: 2.5rem;
    width: 100%;
  }
}
.container .cta h5 {
  font-family: inherit;
}
@media (max-width: 500px) {
  .container .cta h5 {
    font-size: 1.6rem;
  }
}
.container .cta button {
  width: 145px;
  height: 44px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #592e83;
  font-family: inherit;
  border: none;
}
.container .features {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
.container .features .features-tabs {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media (max-width: 500px) {
  .container .features .features-tabs {
    flex-direction: column;
    align-items: center;
  }
}
.container .features #sleep,
.container .features #schedule,
.container .features #track,
.container .features #play {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 240px;
  width: 22%;
  background: #FAFAFB;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .container .features #sleep,
  .container .features #schedule,
  .container .features #track,
  .container .features #play {
    width: 80%;
    margin: 20px;
  }
}
.container .features #sleep h5,
.container .features #schedule h5,
.container .features #track h5,
.container .features #play h5 {
  font-family: 'Roboto';
  font-weight: bold;
  color: #592e83;
}
.container .features h3 {
  margin: 50px 0 40px 0;
  font-family: 'Roboto';
}
@media (max-width: 500px) {
  .container .features h3 {
    width: 80%;
    text-align: center;
  }
}
.container .measure {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding: 0 5%;
  background: #FAFAFB;
}
@media (max-width: 500px) {
  .container .measure {
    flex-direction: column;
  }
}
.container .measure #measureText {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container .measure #measureText {
    order: 1;
    padding: 0;
  }
}
.container .measure #measureText h3 {
  font-family: 'Roboto';
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .measure #measureText h3 {
    margin-bottom: 30px;
  }
}
.container .measure #measureText article {
  font-family: 'inherit';
}
.container .measure #measureText article h5 {
  font-family: 'inherit';
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .container .measure #measureText article {
    margin-bottom: 30px;
  }
}
.container .measure #measureImage {
  padding: 15px 0 15px 15px;
}
@media (max-width: 500px) {
  .container .measure #measureImage {
    order: 0;
    padding: 0;
    margin-bottom: 30px;
  }
}
.container .measure #measureImage img {
  border-radius: 35px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  line-height: 1.4;
  border-bottom: 1px solid #9984d4;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    margin: 0;
    align-items: normal;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
}
@media (max-width: 500px) {
  header .logo .hamburger-menu {
    display: block !important;
  }
}
header .navItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  header .navItems {
    flex-direction: column;
  }
}
header .navItems .navItemsLeft a,
header .navItems .navItemsRight a {
  font-size: 1.6rem;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 500px) {
  header .navItems .navItemsLeft a,
  header .navItems .navItemsRight a {
    border-top: 1px solid #9984d4;
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 500px) {
  header .navItems .navItemsLeft,
  header .navItems .navItemsRight {
    display: flex;
    flex-direction: column;
  }
}
header .navItems .navItemsLeft {
  padding-left: 30px;
}
@media (max-width: 500px) {
  header .navItems .navItemsLeft {
    padding-left: 0;
  }
}
header .navItems-hidden {
  display: none;
}
.container .testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 16px auto;
  font-family: 'Roboto';
  margin-top: 70px;
  margin-bottom: 70px;
}
@media (max-width: 500px) {
  .container .testimonials {
    width: 100%;
  }
}
.container .testimonials .left-button,
.container .testimonials .right-button {
  background-color: #fff;
  color: #8b5fbf;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #9984d4;
  cursor: pointer;
}
.container .testimonials .left-button:hover,
.container .testimonials .right-button:hover {
  color: #fff;
  background-color: #8b5fbf;
  border: 2px solid #9984d4;
}
.container .testimonials .left-button {
  top: 50%;
  left: 25px;
  padding: 2px 0 0 10px;
  transform: translate(0, -50%);
}
.container .testimonials .right-button {
  top: 50%;
  right: 25px;
  padding: 2px 0 0 12px;
  transform: translate(0, -50%);
}
.container .testimonials .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  text-align: center;
  display: none;
}
.container .testimonials .testimonial img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.container .testimonials .testimonial p {
  line-height: 1.6;
  margin-bottom: 20px;
}
.container .testimonials .testimonial h6 {
  color: #9984d4;
  font-family: 'Roboto';
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 200px;
  border-top: 1px solid #9984d4;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  footer {
    padding-top: 70px;
  }
}
footer .footerTop {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 40px;
}
@media (max-width: 500px) {
  footer .footerTop {
    flex-direction: column;
    align-items: center;
  }
}
footer .footerTop .social {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  footer .footerTop .social {
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
footer .footerTop .social img {
  width: 50px;
  height: 50px;
}
@media (max-width: 500px) {
  footer .footerTop .get-updates {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
footer .footerTop .get-updates input {
  width: 240px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #8b5fbf;
  border-radius: 10px;
  font-size: 13px;
  padding-left: 10px;
}
footer .footerTop .get-updates button {
  width: 55px;
  height: 40px;
  background: #9984d4;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color: #000;
  line-height: 21px;
  color: #592e83;
  border: none;
}
footer .footerTop .get-updates button:hover {
  background: #8b5fbf;
  color: #fff;
}
@media (max-width: 500px) {
  footer .footerLogo {
    margin-bottom: 30px;
  }
}
footer .copyright {
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-size: 1rem;
}
@media (max-width: 500px) {
  footer .copyright {
    padding-bottom: 10px;
  }
}
.about-us {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: 50px auto;
}
@media (max-width: 500px) {
  .about-us {
    flex-direction: column;
    margin: 20px auto;
  }
}
.about-us .member {
  display: flex;
  align-items: flex-start;
  width: 46%;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .about-us .member {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}
.about-us .member img {
  width: 100px;
  border-radius: 60%;
  margin-right: 20px;
}
@media (max-width: 500px) {
  .about-us .member img {
    margin: 0 0 20px 0;
  }
}
.about-us .member .member-content {
  font-family: 'Roboto';
}
@media (max-width: 500px) {
  .about-us .member .member-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.about-us .member .member-content h5 {
  font-family: 'Roboto';
  font-weight: 500;
}
.about-us .member .member-content h6 {
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: bold;
  padding: 15px 0 15px 0;
  color: #9984d4;
}
.about-us .member .member-content p {
  font-size: 1.3rem;
  line-height: 2;
  margin-bottom: 30px;
  height: 107px;
}
@media (max-width: 500px) {
  .about-us .member .member-content p {
    height: auto;
    margin-bottom: 0;
  }
}
.about-us .member .member-content .member-contact a img {
  width: 30px;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .about-us .member .member-content .member-contact a img {
    margin-top: 0;
  }
}
