.container {
  .cta {
    background: linear-gradient(
      rgba(41, 40, 40, 0.45),
      rgba(39, 38, 38, 0.45)),
      url('../img/woman-sleeping.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: @white;
    font-family: 'Roboto';
    @media @mobile {
      padding: 30px;
      text-align: center;
    }
    h2 {
      margin-top: 10%;
      font-family: inherit;
      font-size: 4rem;
      text-align: center;
      @media @mobile {
        margin-top: 20%;
        font-size: 2.5rem;
        width: 100%;
      }
    }
    h5 {
      font-family: inherit;
      @media @mobile {
        font-size: 1.6rem;
      }
    }
    button {
      width: 145px;
      height: 44px;
      background: @white;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: @primaryColor;
      font-family: inherit;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        color: @secondaryColor;
      }
    }
  }

  .features {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    .features-tabs {
      display: flex;
      justify-content: space-between;
      width: 90%;
      @media @tablet {
        flex-flow: wrap;
        align-items: center;
      }
      @media @mobile {
        flex-direction: column;
        align-items: center;
      }
    }
    #sleep, #schedule,
    #track, #play {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      height: 240px;
      width: 22%;
      background: @optionalBackground;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @media @tablet {
        width: 48%;
        margin-bottom: 30px;
      }
      @media @mobile {
        width: 80%;
        margin: 20px;
      }
      h5 {
        font-family: 'Roboto';
        font-weight: bold;
        color: @primaryColor;
      }
    }
    h3 {
      margin: 50px 0 40px 0;
      font-family: 'Roboto';
      @media @mobile {
        width: 80%;
        text-align: center;
      }
    }
  }

  .measure {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    padding: 0 5%;
    background: @optionalBackground;
    @media @tablet, @mobile {
      flex-direction: column;
    }
    #measureText {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media @mobile {
        order: 1;
        padding: 0;
      }
      h3 {
        font-family: 'Roboto';
        font-weight: bold;
        @media @tablet, @mobile {
          margin: 30px 0;
        }
      }
      article {
        h5 {
          font-family: 'Roboto';
          font-weight: bold;
          margin-bottom: 10px;
        }
        font-family: 'Roboto';
        @media @tablet, @mobile {
          margin-bottom: 30px;
        }
      }
    }
    #measureImage {
      padding: 15px 0 15px 15px;
      @media @tablet {
        margin: auto;
      }
      @media @mobile {
        order: 0;
        padding: 0;
        margin-bottom: 30px;
      }
      img {
        border-radius: 35px;
      }
    }
  }
}