header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .navItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .navItemsLeft,
    .navItemsRight {
      a {
        font-size: 1.6rem;
        margin-right: 15px;
        text-decoration: none;
        color: inherit;
      }
    }
    .navItemsLeft {
      padding-left: 30px;
    }
  }
}