.about-us {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: 50px auto;
  @media @mobile {
    flex-direction: column;
    // width: 100%;
  }
  .member {
    display: flex;
    align-items: flex-start;
    width: 46%;
    margin-bottom: 60px;
    @media @mobile {
      width: 100%;
      align-items: center;
    }
    img {
      width: 100px;
      border-radius: 60%;
      margin-right: 20px;
    }
    .member-content {
      h6 {
        font-size: 1.3rem;
        padding: 15px 0 15px 0;
        color: @secondaryColor;
      }
      p {
        font-size: 1.2rem;
        line-height: 2;
      }
      .member-contact {
        a img {
          width: 30px;
          margin-right: 10px;
          @media @mobile {
            margin-top: 20px;
          }
        }
      }
    }
  }
}